<div class="row">
	<div class="col-md-6 text-panel">
		<div data-mh="match-height" class="panel panel-primary solutions-panel">
			<div class="panel-heading">Dip Cleaning</div>
				<div class="panel-body">
					<p>We provide state of the art dip cleaning for any and all parts that may require regular cleaning. This end to end service can include transportation to and from our faclities, quality assurance for each part, and repairs.</p>
				</div>
		</div>
	</div>
	<div data-mh="match-height" class="col-md-6 image-panel">
		<div class="panel panel-primary solutions-panel">
			<div class="panel-heading">Paint Jig After Dip Cleaning</div>
				<div class="panel-body">
					<%= image_tag("Nest.jpg", alt: "Cleaned paint jig") %>
				</div>
		</div>
	</div>
</div>