<% provide(:title, "About") %>
<div class="row">
	<div class="jumbotron jumbotron-center">
		<h1>Our Commitment to Excellence</h1>
		<hr>
		<p class="text-center">
			AutoChem Industrial is committed to addressing the needs of every customer, better than we did the day before, utilizing the most innovative and efficient methods available to the industry.
		</p>
	</div>
	<div class="col-xs-12">
		<h4 class="text-center">AutoChem Industrial is founded on three core principles that guide us:</h4>
	</div>
	<div class="col-xs-12">
		<div class="well">
			<dl>
				<dt>Always keep the customer's needs in clear and complete focus.</dt>
				<dd>This means that we must always be reevaluating and seeking to understand those needs, whether we have been working with a customer for 20 days, or 20 years, we must always make sure that everything that we do is done in the way that best addresses our customer's needs right now.</dd>
				<dt>Always value innovation and change over doing things they way they've been done before.</dt>
				<dd>AutoChem Industrial was born out of an insight. The industrial cleaning industry is filled with companies who's profit motive is driven by inefficiency, vague scopes of work, and bloated invoices. We could see better way. We believed in taking a novel approach; one based not on sheer volumes of labor, but on results, innovation, and efficiency. In an industry that is paralyzed by the fear of change, we dare to ask why; and why not?</dd>
				<dt>Compete everyday to be better than we were the day before.</dt>
				<dd>As a small company, disrupting the business model used by much larger companies in our industry, we must constantly strive to be better, everyday. We cannot afford complacency or accepting mediocre results.</dd>
			</dl>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<h1>AutoChem Industrial: A Brief History</h1>


	<h3>AutoChem Industrial began as a challenge, from a customer, to devise a better way to perform a task.</h3>

	<p>From that challenge, we discovered that almost every facet of automotive industrial cleaning industry, from the pricing models to the cleaning products and methods used, could be greatly improved upon. AutoChem Industrial was created after completing this challenge to continue building on the progress made during this initial project.</p>

	<p>Founded upon innovation and positive disruption; by introducing creative ideas and solutions, upon a belief that doing things as they always have been done is often an excuse and not a sound business strategy, and upon a constant drive to always compete with ourselves, to always be better than we were yesterday.</p>

	<blockquote class="blockquote">
		We are the <em>“other guys”</em>.
		<footer class="blockquote-footer">AutoChem Industrial</footer>
	</blockquote>  

	<p>AutoChem Industrial develops custom cleaning solutions for our customers. We work with our supplier partners to devise and develop custom chemical products for use in our innovative processes. These products are then combined with an existing or innovative process and equipment to provide a complete solution for our customers.</p> 

	<p>AutoChem Industrial started life as AutoChem of Kentucky, a specialty chemical developer and supplier. As AutoChem of Kentucky developed and grew, there became an apparent need for two companies to accommodate the various needs of our customers. Thus AutoChem Industrial was incorporated in 2015.</p>

	<h3>Location</h3>

	<%= image_tag("garrard_county.png", alt: "Garrard County Kentucky Map", class: "img img-responsive img-location") %>

	<p>Located just south of Lexington, in Garrard County, we have access to I -75 by HWY 52 and Lexington access via HWY 27.</p>

	<p>We operate out of a 22,000 square foot facility sitting on 2 1/2 acres that will house our offices, lab, test area, fabrication shop and production areas for limited manufacturing and full scale cleaning operation. Room for future expansion is available.</p>

</div>