<% provide(:title, "About") %>

<h1>AutoChem Industrial: A History</h1>


<h3>AutoChem Industrial began as an idea and a dream in 2009.</h3>

<p>Founded upon innovation and positive disruption by introducing creative ideas and solutions, upon a belief that doing things as they always have been done is often an excuse and not a sound business strategy, and upon a constant drive to always compete with ourselves, to always be better than we were yesterday.</p>

<blockquote class="blockquote">
	We want to be the <em>“other guy”</em>.
	<footer class="blockquote-footer">AutoChem Industrial</footer>
</blockquote>  

<p>AutoChem Industrial develops custom cleaning solutions for our customers. We work with our supplier partners to devise and develop custom chemical products. These products are then combined with an existing or innovative process and equipment to provide a complete solution for our customers.</p> 