<% provide(:title, "Bean Clean") %>
<div class="row">
	<div class="page-header">
		<h1>Bean Clean</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<div class="panel-body">
				<p>Bean Clean, Bean Clean R1, R2, R4 is a family of low/no VOC wiping and cleaning solvents for paint applications.</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Excellent Alternative for Purge, IPA, or Acetone for Cleaning</h4>
					<p class="list-group-item-text">Why is this an excellent alternative?</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Higher Flash-point</h4>
					<p class="list-group-item-text">Means a safer production and painting environment.</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
