<% provide(:title, "General Custodial") %>
<div class="row">
	<div class="page-header">
		<h1>General Custodial <small class="hidden-xs">Service of Choice, not Frustration</small> </h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-xs-12">
		<p>While others are busy re-branding themselves as anything other than a Janitorial service, AutoChem Industrial embraces the reality of our chosen profession and responsibility relative to the effects of our work. We intend to be the company of choice, not an acceptable end to frustration.</p>
		<p>AutoChem Industrial brings to its general custodial work the same commitment to excellence and innovation that it does to all of its endeavors. That means that you can count on us to constantly deliver amazing results, at a fair cost, and that we will always strive to be better than we were the day before.</p>
	</div>
	<div class="col-xs-2 hidden-xs">
		<%= image_tag("custodial_tools.png", alt: "dip cleaning station", class: "img-responsive img-rounded dip-image") %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">On-Site, Managed Crews</h4>
					<p class="list-group-item-text">AutoChem Industrial takes on the training, direct compensation, and liability for your janitorial crew. We place a very strong emphasis on finding personnel that share our commitment to providing excellent service and always working to find a better way. Allow our experienced, committed cleaning crew to take care of your custodial needs today!</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Detailed Line-Item Estimates, Work Instructions, and Invoicing</h4>
					<p class="list-group-item-text">AutoChem Industrial will always work to be as transparent as possible in all of its dealings. We want our customers to always be in control, and we built our pricing model, work instructions,  estimates, and invoices to match that sentiment. Never be in the dark about why your paying what your paying again.</p>
					<p><small>* AutoChem Industrial always bills for supplies and materials at 10% above cost. Equipment, labor, and other charges will vary based upon cost and extraneous factors.</small></p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Visual Standards</h4>
					<p class="list-group-item-text">AutoChem Industrial works with each customer to identify the ideal state of each work area we are tasked with cleaning. We then use our proprietary system for communicating this ideal state visually to the cleaning crew to ensure that the job is completed properly and thoroughly, every time.</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
