<% provide(:title, "Dip Cleaning") %>
<div class="row">
	<div class="page-header">
		<h1>Dip Cleaning <small class="hidden-xs">Bringing Dip Cleaning Into the Future</small> </h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-xs-12">
		<p>Does your manufacturing process require a consistent supply of parts or jigs? Often the maintenance and cleaning of these parts can introduce a large number of manufacturing defects and inconsistencies in your products. This has a knock on effect on the amount of wasted labor and resources invested into rework, thereby increasing costs and cutting into profits. AutoChem Industrial's Dip Cleaning services can help to address these issues by ensuring that your production facilities are consistently supplied with the clean parts and jigs they need to keep up with your production needs.</p>
		<p>Dip Cleaning offers an efficient, non-destructive system for cleaning large numbers of parts. AutoChem Industrial can properly design a system tailor fit to your specific needs or can arrange for the parts to be transported to and from our state of the art facility for cleaning.</p>
	</div>
	<div class="col-xs-4 hidden-xs">
		<%= image_tag("dip_cleaning_station.png", alt: "dip cleaning station", class: "img-responsive img-rounded dip-image") %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<!-- <div class="panel-body">
				<p>At his quem bonorum, commodo iracundia duo cu. Ex noster dolorem alienum vim, quaestio qualisque consetetur nec ea, no idque tollit appareat vim. Ea congue repudiandae his, sea quod legere molestiae no. Sit iisque blandit commune ne, constituam philosophia ea vis, duo ne errem consequat. Decore docendi ea mei.</p>
			</div> -->
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Low Impact, Non-Destructive, and Non-Hazardous</h4>
					<p class="list-group-item-text">Our process is non-hazardous, recyclable and uses no dangerous high pressure, media blasting, or burning to accomplish amazing results. Our processes will never harm your production parts, and will ensure that they are ready when you need them, every time.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">The Parts You Need, When You Need Them.</h4>
					<p class="list-group-item-text">We work with you to identify the best schedule for having all of your production parts cleaned, checked for quality, and ready for production. That way production shortfalls due to a lack of jigs, or any other production part, becomes a thing of the past.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Production Ready, Every Time</h4>
					<p class="list-group-item-text">Our commitment to excellence ensure that the production parts will be done right, every time. Each part will be visually inspected and given any adjustments that can be easily made. If a part isn't clean, we clean it again. If a part is broken, then we can work with you to either notify you or to repair it.</p>
					<p><small>* Production part repair will require additional charges. Some conditions apply. For more information please contact us!</small></p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">End to End Support Available <small>You choose only what you need, and we take care of the rest.</small></h4>
					<p class="list-group-item-text">Dip Cleaning of your production parts includes the cleaning of the part, a thorough quality assurance check, and small adjustments to the part that require less than 15 minutes of work. We also offer conveyance both to and from your facility; picked up and dropped off at an agreed upon location and time. Repairs or other regular maintenance of the production part, (i.e. attachment of springs or some other small part that is required for production) would be billed at an hourly rate for labor. Materials required for repairs would be either provided by you, or would be billed at a consistent and transparent rate of cost plus 10%. We can even help to design, install, manage, and maintain a system at your facility!</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
