<% provide(:title, "About MEICO") %>
<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>Epps<small class="hidden-xs"> Works Well Under Pressure</small> </h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 hidden-xs">
		<%= image_tag("water-epps.jpg", alt: "Epps waterfall photo", class: "img-responsive img-rounded dip-image") %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<blockquote class="blockquote">
  		<p>Canada's largest full-line manufacturers of high pressure cleaning equipment.</p>
		</blockquote>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Who is Epps? </h4>
			</div>
			<div class="panel-body">
				<p>In this blurb and the list below, we will list out all of the high points that we want customers to know about EPPS.</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">The Parts You Need, When You Need Them.</h4>
					<p class="list-group-item-text">We work with you to identify the best schedule for having all of your production parts cleaned, checked for quality, and ready for production. That way production shortfalls due to a lack of jigs, or any other production part, becomes a thing of the past.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Production Ready, Every Time</h4>
					<p class="list-group-item-text">Our commitment to excellence ensure that the production parts will be done right, every time. Each part will be visually inspected and given any adjustments that can be easily made. If a part isn't clean, we clean it again. If a part is broken, then we can work with you to either notify you or to repair it.</p>
					<p><small>* Production part repair will require additional charges. Some conditions apply. For more information please contact us!</small></p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">End to End Support Available <small>You choose only what you need, and we take care of the rest.</small></h4>
					<p class="list-group-item-text">Dip Cleaning of your production parts includes the cleaning of the part, a thorough quality assurance check, and small adjustments to the part that require less than 15 minutes of work. We also offer conyeance both to and from your facility; picked up and dropped off at an agreed upon location and time. Repairs or other regular maintenance of the production part, (i.e. attachment of springs or some other small part that is required for production) would be billed at an hourly rate for labor. Materials required for repairs would be either provided by you, or would be billed at a consistent and transparent rate of cost plus 10%.</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
