<% provide(:title, "Facility Management") %>
<div class="row">
	<div class="page-header">
		<h1>Facility Management <small class="hidden-xs">Production Parts of All Shapes and Sizes</small> </h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-xs-12">
		<p>Lorem ipsum dolor sit amet, ad mel cibo denique quaerendum, an sed rebum legimus honestatis, te ipsum fabulas fierent his. Fugit euismod nusquam mel te, per id suas affert, an postulant incorrupte vel. Cu impetus partiendo persecuti ius, vix te lobortis delicata, in tritani referrentur quo. Deserunt iudicabit nam et, aeque decore malorum cu mei. Consul semper persecuti id pri, ex nibh mentitum atomorum usu.</p>

		<p>Est omnis nullam intellegam ad, postea phaedrum eos ex. Mel ferri etiam cu. Ut per adipisci evertitur, autem illud invenire cu pro, porro liber instructior ex vis. Ridens putent efficiendi id pri.</p>

		<p>Novum voluptaria sed ut, vim sale velit ei. Vim ad graece facete menandri, docendi vituperata vis at, noster veritus scaevola te nam. Erant vocent prodesset ut mel, an vix quas impetus. Te atomorum mnesarchum vel, in vim exerci nostrud. Mutat efficiantur ullamcorper mea cu, cu quas quodsi liberavisse vix. Solum dicam vix in, ipsum dolor sanctus pro ea. Nec illud soleat tibique ea, mei novum altera consetetur ex.</p>
	</div>
	<div class="col-xs-4 hidden-xs">
		<%= image_tag("facility_management.png", alt: "dip cleaning station", class: "img-responsive img-rounded dip-image") %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<div class="panel-body">
				<p>At his quem bonorum, commodo iracundia duo cu. Ex noster dolorem alienum vim, quaestio qualisque consetetur nec ea, no idque tollit appareat vim. Ea congue repudiandae his, sea quod legere molestiae no. Sit iisque blandit commune ne, constituam philosophia ea vis, duo ne errem consequat. Decore docendi ea mei.</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">The Parts You Need, When You Need Them.</h4>
					<p class="list-group-item-text">We work with you to identify the best schedule for having all of your production parts cleaned, checked for quality, and ready for production. That way production shortfalls due to a lack of jigs, or any other production part, becomes a thing of the past.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Production Ready, Every Time</h4>
					<p class="list-group-item-text">Our commitment to excellence ensure that the production parts will be done right, every time. Each part will be visually inspected and given any adjustments that can be easily made. If a part isn't clean, we clean it again. If a part is broken, then we can work with you to either notify you or to repair it.</p>
					<p><small>* Production part repair will require additional charges. Some conditions apply. For more information please contact us!</small></p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">End to End Support Available <small>You choose only what you need, and we take care of the rest.</small></h4>
					<p class="list-group-item-text">Dip Cleaning of your production parts includes the cleaning of the part, a thorough quality assurance check, and small adjustments to the part that require less than 15 minutes of work. We also offer conyeance both to and from your facility; picked up and dropped off at an agreed upon location and time. Repairs or other regular maintenance of the production part, (i.e. attachment of springs or some other small part that is required for production) would be billed at an hourly rate for labor. Materials required for repairs would be either provided by you, or would be billed at a consistent and transparent rate of cost plus 10%.</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
