<% provide(:title, "Help") %>

<h2>Need help?</h2>

<h3>For help with:</h3>

<h5>AutoChem Industrial service or product:</h5>

<p>Contact <%= mail_to "joel@autochemky.com", "Joel Vice", subject: "Help with AutoChem Industrial Product or Service" %></p>

<h5>AutoChem Industrial Website</h5>

<p>Contact <%= mail_to "josh@autochemky.com", "Josh Pettyjohn", subject: "Help with AutoChem Industrial Website" %></p>