<div class="center jumbotron">

	<h1 class="text-center">AutoChem Industrial</h1>
</div>

<div class="col-xs-12">
	<h2 class="text-center">
		Welcome to the AutoChem Industrial homepage. 
	</h2>
</div>

<div class="col-xs-12">
	<h4 class="text-center">Why AutoChem Industrial?</h4>
</div>
<p>AutoChem Industrial has a reputation for developing cleaning products and processes that have a positive impact for customers who want to achieve unparalleled levels of cleanliness, and desire to be optimally productive, cost effective and efficient.</p>

