<div class="row">
	<div class="col-xs-12">
		<div class="carousel slide" id="homecarousel" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#homecarousel" data-slide-to="0" class="active"></li>
				<li data-target="#homecarousel" data-slide-to="1"></li>
				<li data-target="#homecarousel" data-slide-to="2"></li>
			</ol><!-- carousel indicators -->

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag("auto2.jpg", alt: "automotive stock photo", class: "img-responsive center-block carousel-image") %>
					<div class="carousel-caption">
						<h4>Innovative Products and Processes</h4>
						<h5 class="hidden-xs">AutoChem Industrial's catalog of proprietary products and processes always ensure that your product is ready on-time and on budget.</h5>
					</div>
				</div>
				<div class="item">
					<%= image_tag("auto3.jpg", alt: "automotive stock photo", class: "img-responsive center-block carousel-image") %>
					<div class="carousel-caption">
						<h4>Industrial Cleaning, Reenvisioned and Reimagined</h4>
						<h5 class="hidden-xs">We always ask why, so your production needs are constantly reassesed and approached effectively and efficiently. means that your production and administrative cleaning needs will be constantly reassesed and approached with the most effective solution available.</h5>
					</div>
				</div>
				<div class="item">
					<%= image_tag("auto1.jpg", alt: "automotive stock photo", class: "img-responsive center-block carousel-image") %>
					<div class="carousel-caption">
						<h4>Our Commitment to Quality and Excelence</h4>
						<h5 class="hidden-xs">Help our customers build and deliver better products, everyday.</h5>
					</div>
				</div>
			</div><!-- carousel inner -->

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#homecarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#homecarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div><!-- carousel -->
	</div>
</div>

<div class="center jumbotron">

	<h1 class="text-center">AutoChem Industrial</h1>
</div>

<div class="col-xs-12">
	<h2 class="text-center">
		Welcome to the AutoChem Industrial homepage. 
	</h2>
</div>

<div class="col-xs-12">
	<h4 class="text-center">Why AutoChem Industrial?</h4>
</div>
<p>AutoChem Industrial has a reputation for developing cleaning products and processes that have a positive impact for customers who want to achieve unparalleled levels of cleanliness, and desire to be optimally productive, cost effective and efficient.</p>

