<% provide(:title, "Jig Strip") %>
<div class="row">
	<div class="page-header">
		<h1 class="text-center">Jig Strip</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<div class="panel-body">
				<p>Jig strip is a non-hazardous dip cleaning material that is bio-degradable.</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">All Metal Safe</h4>
					<p class="list-group-item-text">Safe for use with any metal part or jig used in the manufacturing process.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Safe for Many Plastics</h4>
					<p class="list-group-item-text">Safe for use on many types of plastics, nylons, etc. Our specialists will ensure that your part or jig will not be harmed by the cleaning process.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Recyclable</h4>
					<p class="list-group-item-text">Due to the nature of this product, it can be used over and over again in the same system. No need to constantly resupply the dip cleaning system with new product, simply clean and strain what has been used in the tank and replace any lost volume.</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
