<% provide(:title, "Jig Rinse") %>
<div class="row">
	<div class="page-header">
		<h1 class="text-center">Jig Rinse</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<div class="panel-body">
				<p>A companion product to Jig Strip, Jig rinse is a safe rinse soap for removing dip tank residues.</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Contains Inhibitors to Reduce or Eliminate Rust</h4>
					<p class="list-group-item-text">Jig Rinse is used when removing parts from a dip tank to both rinse off the dip tank residue, but also to protect the part from rusting.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Cost Effective</h4>
					<p class="list-group-item-text">Jig Rinse, along with the entire MEICO Dip Tank process, is used to prolong the life of the parts and jigs that are cleaned. Thereby reducing overall production costs both by keeping the production system cleaner, but also by reducing the number of overall parts and jigs required.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Available in Pails, Drums, and Totes</h4>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
