<% provide(:title, "LiquiTac") %>
<div class="row">
	<div class="page-header">
		<h1 class="text-center">LiquiTac</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default solutions-panel">
			<div class="panel-heading">
				<h4 class="panel-title text-center">Features and Benefits</h4>
			</div>
			<div class="panel-body">
				<p>LiquiTac is a family of barrier coatings for all types of applications.</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Removes With Hot Water</h4>
					<p class="list-group-item-text">Easy to apply and remove no matter the application.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Does Not Flake or Peel Off</h4>
					<p class="list-group-item-text">LiquiTac will not introduce any foreign material into the manufacturing or production system it is used in.</p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading">Non-Hazardous and Biodegradable</h4>
					<p class="list-group-item-text">Offers an environmentally friendly alternative barrier coating.</p>
				</li>
			</ul> <!-- List Group -->
		</div><!-- Panel -->
	</div> <!-- col-xs-12 -->
</div> <!-- row -->
