<%= provide(:title, @user.first_name + " " + @user.last_name) %>

<div class="row">
	<div class="col-md-4">
		<section class="user_info">
			<table class="table table-responsive table-striped">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
				</tr>
				<tr>
					<td><%= @user.first_name %></td>
					<td><%= @user.last_name %></td>
					<td><%= @user.email %></td>
				</tr>
			</table>
		</section>
	</div>
</div>