@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */ 

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* General */

hr {
  border-color: black;
}

/* Header */


nav .logo {
	height: 80px;
}

.navbar {
	border: none;
  margin-bottom: 0;
}

.navbar-brand, .navbar-nav > li > a {
  min-height: 80px;
  padding-top: 30px;
}

.dropdown-menu {
  border-color: rgb(177, 27, 46);
}

.dropdown-menu > li > a {
  height: 25px;
}

.product-dropdown {
  width: 100%;
}

.navbar .button {
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px
}

@media (max-width: 767px) {
  .contact-button {
    float: left !important;
    margin-bottom: 30px;
  }
}

.navbar-default {
  background-color: #b11b2e;
  border-color: #808080;
}
.navbar-default .navbar-brand {
  color: #F5F5F5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #F5F5F5;
}
.navbar-default .navbar-text {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > a {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #b11b2e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #808080;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-toggle {
  border-color: #808080;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #808080;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #F5F5F5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #F5F5F5;
}
.navbar-default .navbar-link {
  color: #F5F5F5;
}
.navbar-default .navbar-link:hover {
  color: #F5F5F5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #F5F5F5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #F5F5F5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #F5F5F5;
    background-color: #808080;
  }
}

/* Body */

body {
	padding-bottom: 70px;
  padding-top: 80px;
	background-color: #F5F5F5;
}

/* Home */

@media (min-width: 768px) {
  .panel-squeeze-left {
    padding-right: 0px;
  }
  .panel-squeeze-right {
    padding-left: 0px;
  }
}

/* Home Page Fonts */

/*.solution {
  font-family: 'Syncopate', sans-serif;
}*/

/*
.solution {
  font-family: 'Cinzel', serif;
}*/

/* Contact Us */

#border-line {
	padding-right: 20px;
	border-right: 1px solid #ccc;
}

#contact-well {
  background-color: #D3D3D3;
}

/* Carousel */

/*.carousel-caption {
  padding: 10px 25px 30px 25px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
}*/

.carousel-control.left, .carousel-control.right {
   background-image: none !important;
   filter: none !important;
}
/*
.item img {
  width: 100%;
}*/

.carousel .item {
  height: 300px;
  width: 100%;
}

.item img {
    position: center;
    top: 0;
    left: 0;
    min-height: 300px; 
    width: 100%;
}

.carousel-btn {
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px black;
}

.carousel-pad {
  padding: 0px;
}

#homecarousel h1 {
  text-shadow: 3px 3px rgba(177, 27, 46, .8);
}

@media (max-width: 768px) {
  #homecarousel h1 {
    margin-bottom: 30px
  }
}

#homecarousel h3 {
  text-shadow: 1px 1px 2px black;
}



/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* Solutions */

.solutions-panel > .panel-heading {
  background-image: none;
  background-color: rgb(177, 27, 46);
  color: white;
}

.solutions-panel {
  border-color: rgba(177, 27, 46, .5);
}

.media img {
  width: 200px;
}

.solutions-accordion p, h5 {
  text-decoration: none;
  color: #000;
}

/*.solutions-accordion p:hover, h5:hover {
  text-decoration: none;
  color: #000;
}
*/
/* Dip Cleaning */

.dip-image {
  margin-bottom: 30px;
}


/* Footer */ 

footer #footer-text {
	color: #fff;
}

/* miscellaneous */

.debug-dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 70px;
  padding-top: 50px;
  @include box_sizing;
}

