@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */ 

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* General */

hr {
  border-color: black;
}

/* Header */


@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}


.navbar-collapse.in {
    overflow-y: visible;
}

nav .logo {
	height: 80px;
}

.navbar {
	border: none;
  margin-bottom: 0;
}

.navbar-brand, .navbar-nav > li > a {
  min-height: 80px;
  padding-top: 30px;
}

.dropdown-menu {
  border-color: rgb(177, 27, 46);
}

.dropdown-menu > li > a {
  height: 25px;
}

.product-dropdown {
  width: 100%;
}

.navbar .button {
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px
}

.contact-button:hover {
  background-color: #b11b2e;
  border-color: #f5f5f5;
}
.contact-button {
  background-color: #b11b2e;
  border-color: #f5f5f5;
}

@media (max-width: 767px) {
  .contact-button {
    float: left !important;
    margin-bottom: 30px;
  }
}

.navbar-default {
  background-color: #808080;
  border-color: #f5f5f5;
}
.navbar-default .navbar-brand {
  color: #f5f5f5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b11b2e;
}
.navbar-default .navbar-text {
  color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a {
  color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b11b2e;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #808080;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f5f5f5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b11b2e;
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b11b2e;
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b11b2e;
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b11b2e;
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle {
  border-color: #f5f5f5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5f5f5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f5f5f5;
}
.navbar-default .navbar-link {
  color: #f5f5f5;
}
.navbar-default .navbar-link:hover {
  color: #b11b2e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5f5f5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b11b2e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b11b2e;
    background-color: #f5f5f5;
  }
}

/* Body */

body {
	padding-bottom: 50px;
  padding-top: 80px;
	background-color: #F5F5F5;
}

/* Home */

@media (min-width: 768px) {
  .panel-squeeze-left {
    padding-right: 0px;
  }
  .panel-squeeze-right {
    padding-left: 0px;
  }
}

/* Home Page Fonts */

/*.solution {
  font-family: 'Syncopate', sans-serif;
}*/

/*
.solution {
  font-family: 'Cinzel', serif;
}*/

/* Contact Us */

#border-line {
	padding-right: 20px;
	border-right: 1px solid #ccc;
}

#contact-well {
  background-color: #D3D3D3;
}

/* Carousel */

/*.carousel-caption {
  padding: 10px 25px 30px 25px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
}*/

.carousel-control.left, .carousel-control.right {
   background-image: none !important;
   filter: none !important;
}
/*
.item img {
  width: 100%;
}*/

.carousel .item {
  height: 300px;
  width: 100%;
}

.item img {
    position: center;
    top: 0;
    left: 0;
    min-height: 300px; 
    width: 100%;
}

.carousel-btn {
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px black;
}

.carousel-pad {
  padding: 0px;
}

#homecarousel h1 {
  text-shadow: 3px 3px rgba(177, 27, 46, .8);
}

@media (max-width: 768px) {
  #homecarousel h1 {
    margin-bottom: 30px
  }
}

#homecarousel h3 {
  text-shadow: 1px 1px 2px black;
}

/* Our Story */

dd {
  padding-bottom: 10px;
}

dt {
  padding-bottom: 5px;
}

.img-location {
  margin: 0 auto;
  margin-bottom: 20px;
}
/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* Solutions */

.solutions-panel > .panel-heading {
  background-image: none;
  background-color: rgb(177, 27, 46);
  color: white;
}

.solutions-panel {
  border-color: rgba(177, 27, 46, .5);
}

.media img {
  width: 200px;
}

.solutions-accordion p, h5 {
  text-decoration: none;
  color: #000;
}

/*.solutions-accordion p:hover, h5:hover {
  text-decoration: none;
  color: #000;
}
*/
/* Dip Cleaning */

.dip-image {
  margin-bottom: 30px;
}


/* Footer */ 

footer #footer-text {
	color: #fff;
}

/* miscellaneous */

.debug-dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 70px;
  padding-top: 50px;
  @include box_sizing;
}

/* Dropdown Sub Menus */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
