@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */ 

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Header */

nav .logo {
	width: 128px;
}

.navbar {
	border: none;
}

.navbar-default {
  background-color: #b11b2e;
  border-color: #808080;
}
.navbar-default .navbar-brand {
  color: #F5F5F5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #F5F5F5;
}
.navbar-default .navbar-text {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > a {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #b11b2e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #F5F5F5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #808080;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #F5F5F5;
  background-color: #808080;
}
.navbar-default .navbar-toggle {
  border-color: #808080;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #808080;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #F5F5F5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #F5F5F5;
}
.navbar-default .navbar-link {
  color: #F5F5F5;
}
.navbar-default .navbar-link:hover {
  color: #F5F5F5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #F5F5F5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #F5F5F5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #F5F5F5;
    background-color: #808080;
  }
}

/* Body */

body {
	padding-bottom: 70px;
	background-color: #F5F5F5;
}

/* Contact Us */

#border-line {
	padding-right: 20px;
	border-right: 1px solid #ccc;
}

.contact {
	margin-top: -20px;
}

/* Carousel */

/*.carousel-caption {
  padding: 10px 25px 30px 25px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
}*/

.carousel-control.left, .carousel-control.right {
   background-image: none !important;
   filter: none !important;
}
/*
.item img {
  width: 100%;
}*/

/*.carousel .item {
  height: 300px;
}*/

/*.item img {
    position: center;
    top: 0;
    left: 0;
    min-height: 300px; 
    width: 100%;
}*/

.carousel-btn {
  margin-bottom: 20px;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* Solutions */

.solutions-panel > .panel-heading {
  background-image: none;
  background-color: #b11b2e;
}

.solutions-panel {
  border-color: #b11b2e;
}

.media img {
  width: 200px;
}


/* Footer */ 

footer #footer-text {
	color: #fff;
}

/* miscellaneous */

.debug-dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 70px;
  padding-top: 50px;
  @include box_sizing;
}

