<footer class="navbar navbar-inverse navbar-bottom">
	<div class="container">
		<div class="navbar-footer">
			<h6 class="text-center" id="footer-text">&#64;	2016 AutoChem Industrial. All Rights Reserved.</h6>
		</div>
	</div>
</footer>